{{> head }}

    {{> navbar }}

    <div class="row">

        <div class="col-8">
            <h1> Caracolada </h1>
            <p>lorem ispom dlk sit, amet consuecl uoijd l ijjenwq diojf nbty; poiq ;le jooijva oiu oiysem, oi yuoie ho fius90 oiu e</p>
        </div>
        <div class="col-4">
            <img src="../assets/img/caracolada.png" class="img-thumbnail">
        </div>

    </div>


{{> footer }}
